<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="b67288af-fbdc-4bdf-a39b-c3763d8e90de"
            Publisher="CN=t.tanaka"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>BluetoothRfcommUniversalApp.Windows</DisplayName>
    <PublisherDisplayName>t.tanaka</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="BluetoothRfcommUniversalApp.Windows.App">
        <m2:VisualElements
            DisplayName="BluetoothRfcommUniversalApp.Windows"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="BluetoothRfcommUniversalApp.Windows"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <m2:DeviceCapability Name="bluetooth.rfcomm">
      <m2:Device Id="any">
        <m2:Function Type="serviceId:17890000-0068-0069-1532-1992D79BE4D8" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>